body {
    font-family: 'Arial', sans-serif;
    background: url('https://plus.unsplash.com/premium_photo-1683842189153-b6cd120a2b44?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .auth-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-height: 100vh;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f5a623; /* Light orange color */
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #f57f20; /* Slightly darker orange for hover effect */
  }
  
  @media (max-width: 600px) {
    .auth-container {
      margin: 20px;
      padding: 15px;
    }
  
    button {
      font-size: 14px;
      padding: 8px;
    }
  }

  .auth-footer {
    text-align: center;
    margin-top: 20px;
  }
  
  .auth-footer p {
    margin: 0;
    color: #555;
  }
  
  .auth-footer a {
    color: #007bff;
    text-decoration: none;
  }
  
  .auth-footer a:hover {
    text-decoration: underline;
  }